{% if breadcrumb.getItems()|length > 0 %}
    {% spaceless %}
        <ul {% if breadcrumb.getCssId() is not null %}id="{{ breadcrumb.getCssId() }}"{% endif %} {% if breadcrumb.getCssClass() is not null %}class="{{ breadcrumb.getCssClass() }}"{% endif %}>
            {% for item in breadcrumb.getItems() %}
                <li{% if item.getCssClass() is not null %} class="{{ item.getCssClass() }}"{% endif %}>
                    {% if loop.first == false and breadcrumb.getSeparator() is not null %}
                        <span{% if breadcrumb.getSeparatorClass() is not null %} class="{{ breadcrumb.getSeparatorClass() }}{% endif %}">{{ breadcrumb.getSeparator()|raw }}</span>
                    {% endif %}
                    {% if item.getAppendText() is not null %}
                        {{ item.getAppendText()|raw }}
                    {% endif %}
                    {% if item.getLink() is not null %}
                        <a href="{{ item.getLink() }}">{{ item.getText()|raw }}</a>
                    {% else %}
                        {{ item.getText()|raw }}
                    {% endif %}
                    {% if item.getPrependText() is not null %}
                        {{ item.getPrependText()|raw }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endif %}
